@charset "UTF-8";
@import url("./font.css");
html {
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Pretendard", "돋움", Dotum, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::after,
::before,
a,
i,
em,
strong,
b,
code {
  display: inline-block;
}

header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 999;
}
header .header-container {
  width: 100%;
  padding-top: 40px;
}
header .header-container .header-main-container {
  padding: 0 30px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1720px;
  margin: 0 auto;
}
header .header-container .header-main-container h1 {
  position: relative;
}
header .header-container .header-main-container h1 a.frontsvg {
  width: 255px;
  height: 53px;
}
header .header-container .header-main-container h1 a.frontsvg img {
  width: 100%;
}
header .header-container .header-main-container h1 .white {
  position: absolute;
  left: 0%;
  width: 255px;
  height: 53px;
  opacity: 0;
}
header .header-container .header-main-container h1 .black {
  position: absolute;
  left: 0%;
  width: 255px;
  height: 53px;
  opacity: 1;
}
header .header-container .header-main-container button.open-sitemap {
  width: 35px;
  height: 29px;
  margin-left: 150px;
  padding: 0;
  background-color: transparent;
  border: none;
}
header .header-container .header-main-container button.open-sitemap img {
  width: 100%;
}
header .header-container nav {
  margin-left: auto;
}
header .header-container nav ul {
  display: flex;
}
header .header-container nav ul li {
  padding: 0 40px;
  font-size: 20px;
  font-weight: bold;
}
header .header-container nav ul li a {
  color: #000;
  transition: 0.5;
}
header .header-container nav ul li.companyli:hover, header .header-container nav ul li.companyli.active > a {
  color: #faa61a;
}
header .header-container nav ul li.companyli:hover .company {
  height: 230px;
  padding: 18px 30px;
}
header .header-container nav ul li.serviceli:hover, header .header-container nav ul li.serviceli.active > a {
  color: #faa61a;
}
header .header-container nav ul li.employli:hover, header .header-container nav ul li.employli.active > a {
  color: #faa61a;
}
header .header-container nav ul li.employli:hover .employ {
  height: 130px;
  padding: 18px 30px;
}
header .header-container nav ul li.companyli {
  position: relative;
}
header .header-container nav ul li.companyli div.company {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 0px;
  border-radius: 30px;
  border-top-left-radius: 0;
  background-color: #faa61a;
  padding: 0px 30px;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
}
header .header-container nav ul li.companyli div.company a {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
  line-height: 3rem;
}
header .header-container nav ul li.employli {
  position: relative;
}
header .header-container nav ul li.employli div.employ {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 0px;
  border-radius: 30px;
  border-top-left-radius: 0;
  background-color: #faa61a;
  padding: 0px 30px;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
}
header .header-container nav ul li.employli div.employ a {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
  line-height: 3rem;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 83px 0 62px;
  background-color: #272727;
  color: #222222;
  position: relative;
}
footer > div.footer-container {
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  max-width: 1720px;
  margin: 0 auto;
  font-weight: 300;
}
footer > div.footer-container > div.left-container {
  width: 38.37%;
  font-size: 15.5px;
}
footer > div.footer-container > div.left-container > div:first-child {
  width: 213px;
}
footer > div.footer-container > div.left-container > ul {
  display: flex;
}
footer > div.footer-container > div.left-container > ul > li {
  padding-right: 44px;
  padding-top: 50px;
}
footer > div.footer-container > div.left-container > ul > li > a {
  color: #7c7c7c;
}
footer > div.footer-container > div.left-container > ul > li a.white-letter1 {
  color: #fff;
}
footer > div.footer-container > div.left-container > div.adr {
  padding-top: 50px;
}
footer > div.footer-container > div.left-container > div.adr > span {
  display: inline-block;
  color: #7c7c7c;
}
footer > div.footer-container > div.left-container > div.adr > span > em {
  font-style: normal;
  color: #fff;
}
footer > div.footer-container > div.left-container > div.tel {
  padding-top: 15px;
}
footer > div.footer-container > div.left-container > div.tel > span {
  color: #7c7c7c;
}
footer > div.footer-container > div.left-container > div.tel > span > em {
  font-style: normal;
  color: #fff;
}
footer > div.footer-container > div.left-container > div.copy {
  padding-top: 90px;
  color: #7c7c7c;
}
footer > div.footer-container > div.right-container > div.right-top-container > ul {
  display: flex;
  justify-content: flex-end;
}
footer > div.footer-container > div.right-container > div.right-top-container > ul > li {
  width: 160px;
  padding-right: 30px;
  text-align: left;
  justify-content: flex-end;
}
footer > div.footer-container > div.right-container > div.right-top-container > ul > li > h3 {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 30px;
}
footer > div.footer-container > div.right-container > div.right-top-container > ul > li > a.menutxt {
  display: block;
  color: #7c7c7c;
  font-size: 14.5px;
  line-height: 1.3;
  letter-spacing: -0.3px;
  padding-bottom: 10px;
}
footer > div.footer-container > div.right-container > div.right-top-container > ul li:last-child {
  width: auto;
  padding-right: 0px;
}
footer > div.footer-container > div.right-container > div.right-bottom-container {
  padding-top: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer > div.footer-container > div.right-container > div.right-bottom-container > a.right-bottom-icon {
  padding-right: 35px;
}
footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site {
  background-color: rgba(124, 124, 124, 0.2470588235);
  padding: 25px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  font-weight: 300;
}
footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site > div.arrow-box {
  display: flex;
  align-items: center;
  position: relative;
}
footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site > div.arrow-box > div.arrow-text {
  color: #fff;
  padding-right: 25px;
}
footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site > div.arrow-box > div.arrow {
  width: 8px;
  height: 8px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(-135deg);
}
footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site > div.arrow-box > div.gotosite {
  position: absolute;
  width: 200px;
  padding: 10px;
  background-color: #fff;
  top: -110px;
  left: -20px;
  flex-direction: column;
  overflow: hidden;
  display: none;
  transition: 0.4s;
}
footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site > div.arrow-box > div.gotosite > a {
  display: flex;
  color: #000;
  padding: 5px 10px;
  font-size: 12px;
}
footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site:hover > div.arrow-box > div.gotosite {
  display: block;
}
footer > div.up-tool {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #fff;
  top: 100%;
  right: 0.7%;
}
footer > div.up-tool.on {
  position: fixed;
  top: 94%;
  transition: 1s;
}
footer > div.up-tool > div.xi-arrow-up {
  position: absolute;
  top: 35%;
  left: 35%;
  transition: 0.4s;
}
footer > div.up-tool:hover {
  cursor: pointer;
}
footer > div.up-tool:hover > div.xi-arrow-up {
  transform: translateY(-4px);
}

@media (min-width: 800px) and (max-width: 1260px) {
  body header {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #fff;
    border-bottom: none;
    z-index: 999;
  }
  body header .header-container {
    width: 100%;
    padding-top: 0px;
  }
  body header .header-container .header-main-container {
    padding: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1720px;
    margin: 0 auto;
  }
  body header .header-container .header-main-container h1 {
    position: relative;
  }
  body header .header-container .header-main-container h1 a.frontsvg {
    width: 196px;
    height: 37px;
  }
  body header .header-container .header-main-container h1 a.frontsvg img {
    width: 100%;
  }
  body header .header-container .header-main-container h1 .white {
    position: absolute;
    left: 0%;
    width: 255px;
    height: 53px;
    opacity: 1;
  }
  body header .header-container .header-main-container h1 .black {
    position: absolute;
    left: 0%;
    width: 255px;
    height: 53px;
    opacity: 0;
  }
  body header .header-container .header-main-container button.open-sitemap {
    width: 22px;
    margin-left: 150px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  body header .header-container .header-main-container button.open-sitemap img {
    width: 100%;
  }
  body header .header-container nav {
    display: none;
    /*margin-left: auto;
    ul {
      display: flex;
      li {
        padding: 0 40px;
        font-size: 20px;
        font-weight: bold;

        a {
          color: #fff;
          transition: 0.5;
        }
        &.companyli:hover > a {
          color: #faa61a;
        }
        &.companyli:hover .company {
          height: 230px;
          padding: 18px 30px;
        }
        &.serviceli:hover > a {
          color: #faa61a;
        }
        &.employli:hover > a {
          color: #faa61a;
        }
        &.employli:hover .employ {
          height: 130px;
          padding: 18px 30px;
        }
        &.companyli {
          position: relative;
          div.company {
            position: absolute;
            top: 40px;
            left: 40px;
            height: 0px;
            border-radius: 30px;
            border-top-left-radius: 0;
            background-color: #faa61a;
            padding: 0px 30px;
            flex-direction: column;
            overflow: hidden;
            transition: 0.5s;
            a {
              color: #fff;
              font-weight: 400;
              font-size: 1rem;
              white-space: nowrap;
              line-height: 3rem;
            }
          }
        }
        &.employli {
          position: relative;
          div.employ {
            position: absolute;
            top: 40px;
            left: 40px;
            height: 0px;
            border-radius: 30px;
            border-top-left-radius: 0;
            background-color: #faa61a;
            padding: 0px 30px;
            flex-direction: column;
            overflow: hidden;
            transition: 0.5s;
            a {
              color: #fff;
              font-weight: 400;
              font-size: 1rem;
              white-space: nowrap;
              line-height: 3rem;
            }
          }
        }
      }
    }*/
  }
  body footer {
    width: 100%;
    margin: 0 auto;
    padding: 83px 0 62px;
    background-color: #272727;
    color: #222222;
    position: relative;
  }
  body footer > div.footer-container {
    padding: 0 5%;
  }
  body footer > div.footer-container > div.left-container > div:first-child > div.tel > span {
    display: block;
  }
}
@media (min-width: 400px) and (max-width: 800px) {
  body header {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #fff;
    border-bottom: none;
    z-index: 999;
  }
  body header .header-container {
    width: 100%;
    padding-top: 0px;
  }
  body header .header-container .header-main-container {
    padding: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1720px;
    margin: 0 auto;
  }
  body header .header-container .header-main-container h1 {
    position: relative;
  }
  body header .header-container .header-main-container h1 a.frontsvg {
    width: 180px;
    height: 37px;
  }
  body header .header-container .header-main-container h1 a.frontsvg img {
    width: 100%;
  }
  body header .header-container .header-main-container h1 .white {
    position: absolute;
    left: 0%;
    width: 255px;
    height: 53px;
    opacity: 0;
  }
  body header .header-container .header-main-container button.open-sitemap {
    width: 22px;
    margin-left: 150px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  body header .header-container .header-main-container button.open-sitemap img {
    width: 100%;
  }
  body header .header-container nav {
    display: none;
    /*margin-left: auto;
    ul {
      display: flex;
      li {
        padding: 0 40px;
        font-size: 20px;
        font-weight: bold;

        a {
          color: #fff;
          transition: 0.5;
        }
        &.companyli:hover > a {
          color: #faa61a;
        }
        &.companyli:hover .company {
          height: 230px;
          padding: 18px 30px;
        }
        &.serviceli:hover > a {
          color: #faa61a;
        }
        &.employli:hover > a {
          color: #faa61a;
        }
        &.employli:hover .employ {
          height: 130px;
          padding: 18px 30px;
        }
        &.companyli {
          position: relative;
          div.company {
            position: absolute;
            top: 40px;
            left: 40px;
            height: 0px;
            border-radius: 30px;
            border-top-left-radius: 0;
            background-color: #faa61a;
            padding: 0px 30px;
            flex-direction: column;
            overflow: hidden;
            transition: 0.5s;
            a {
              color: #fff;
              font-weight: 400;
              font-size: 1rem;
              white-space: nowrap;
              line-height: 3rem;
            }
          }
        }
        &.employli {
          position: relative;
          div.employ {
            position: absolute;
            top: 40px;
            left: 40px;
            height: 0px;
            border-radius: 30px;
            border-top-left-radius: 0;
            background-color: #faa61a;
            padding: 0px 30px;
            flex-direction: column;
            overflow: hidden;
            transition: 0.5s;
            a {
              color: #fff;
              font-weight: 400;
              font-size: 1rem;
              white-space: nowrap;
              line-height: 3rem;
            }
          }
        }
      }
    }*/
  }
  body footer {
    width: 100%;
    padding: 47.5px 0 75px;
    background-color: #272727;
    color: #222222;
    position: relative;
  }
  body footer > div.footer-container {
    padding: 0 5%;
    flex-direction: column;
  }
  body footer > div.footer-container > div.left-container {
    width: 100%;
    position: relative;
    font-size: 13px;
  }
  body footer > div.footer-container > div.left-container > div:first-child {
    width: 175px;
  }
  body footer > div.footer-container > div.left-container > ul {
    position: absolute;
    top: 0;
    right: 0;
    text-align: bottom right;
  }
  body footer > div.footer-container > div.left-container > ul > li {
    padding-right: 0;
    padding-top: 20px;
    padding-left: 25px;
    font-weight: inherit;
  }
  body footer > div.footer-container > div.left-container > div.adr {
    padding-top: 50px;
  }
  body footer > div.footer-container > div.left-container > div.adr > span {
    display: inline-block;
    color: #7c7c7c;
    padding-top: 5px;
    padding-right: 15px;
  }
  body footer > div.footer-container > div.left-container > div.adr > span:first-child {
    display: block;
    width: 100%;
    padding-top: 0px;
  }
  body footer > div.footer-container > div.left-container > div.adr > span > em {
    font-style: normal;
    color: #fff;
  }
  body footer > div.footer-container > div.left-container > div.tel {
    padding-top: 20px;
  }
  body footer > div.footer-container > div.left-container > div.tel > span {
    display: block;
  }
  body footer > div.footer-container > div.left-container > div.tel > span:last-child {
    padding-top: 5px;
  }
  body footer > div.footer-container > div.left-container > div.copy {
    padding-top: 25px;
  }
  body footer > div.footer-container > div.right-container > div.right-top-container {
    display: none;
  }
  body footer > div.footer-container > div.right-container > div.right-bottom-container {
    padding-top: 30px;
    justify-content: flex-start;
  }
  body footer > div.footer-container > div.right-container > div.right-bottom-container > a.right-bottom-icon {
    padding-right: 15px;
  }
  body footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site {
    font-size: 13px;
    padding: 15px 25px 15px 25px;
  }
  body footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site > div.arrow-box > div.arrow-text {
    padding-right: 10px;
  }
  body footer > div.footer-container > div.right-container > div.right-bottom-container > div.right-bottom-site > div.arrow-box > div.arrow {
    width: 6px;
    height: 6px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }
}
body {
  margin: 0;
  padding: 0;
}

main .intro-container {
  width: 100%;
  padding-top: 210px;
}
main .intro-container .intro-content {
  max-width: 1320px;
  margin: 0 auto;
  padding-bottom: 83px;
}
main .intro-container .intro-content .abox div {
  display: inline-block;
}
main .intro-container .intro-content .abox .first {
  font-size: 14px;
}
main .intro-container .intro-content .abox .first:before {
  font-family: "xeicon";
  content: "\e900";
}
main .intro-container .intro-content .abox .first:after {
  font-family: "xeicon";
  display: inline-block;
  content: "\e93f";
  position: relative;
  top: -1px;
  vertical-align: middle;
  margin: 0px 7px 0 5px;
  color: #222;
  font-size: 18px;
}
main .intro-container .intro-content .abox .second {
  font-size: 14px;
}
main .intro-container .intro-content .abox .second:after {
  font-family: "xeicon";
  display: inline-block;
  content: "\e93f";
  position: relative;
  top: -1px;
  vertical-align: middle;
  margin: 0px 7px 0 5px;
  color: #222;
  font-size: 18px;
}
main .intro-container .intro-content h3 {
  padding-top: 57px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: -0.02rem;
  color: #222;
}
main .intro-container .intro-content h3 p span {
  font-weight: 100;
}
main .intro-container .intro-content h3 p span em {
  font-weight: 700;
  font-style: normal;
}
main .intro-menu-container {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
main .intro-menu-container .intro-menu-content {
  max-width: 1320px;
  margin: 0 auto;
}
main .intro-menu-container .intro-menu-content ul {
  width: 100%;
}
main .intro-menu-container .intro-menu-content ul li {
  display: inline-block;
  color: #ccc;
  padding-right: 70px;
  font-size: 20px;
  font-weight: 700;
}
main .intro-menu-container .intro-menu-content ul li a {
  display: block;
  height: 100%;
  padding: 13px 0 15px;
  color: #ccc;
  position: relative;
}
main .intro-menu-container .intro-menu-content ul li a::after {
  transition: 0.5s;
  content: "";
  width: 0%;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #faa61a;
  position: absolute;
  z-index: 99;
}
main .intro-menu-container .intro-menu-content ul li a:hover {
  color: #faa61a;
}
main .intro-menu-container .intro-menu-content ul li a:hover::after {
  width: 100%;
}
main .servicepage-container {
  width: 100%;
  padding: 100px 0 200px;
  position: relative;
}
main .servicepage-container .service-h-container {
  text-align: center;
  padding-bottom: 80px;
}
main .servicepage-container .service-h-container h4 {
  font-size: 3.125rem;
  letter-spacing: -0.05rem;
  line-height: 1.3;
}
main .servicepage-container .service-h-container > p {
  font-size: 1.875rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
  padding-top: 27px;
}
main .servicepage-container .service-h-container > p span {
  position: relative;
  font-weight: 600;
  padding: 0 4px;
}
main .servicepage-container .service-h-container > p span:before {
  background-color: #4eabfb;
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 0.933em;
  opacity: 0.15;
  z-index: -1;
}
main .servicepage-container .service-h-container > div {
  display: inline-block;
  padding-top: 48px;
  text-align: left;
}
main .servicepage-container .service-h-container > div p {
  position: relative;
  padding-left: 34px;
  font-size: 1.156em;
  letter-spacing: -0.03513em;
  line-height: 1.3;
  text-align: left;
  color: #555;
  font-weight: 300;
}
main .servicepage-container .service-h-container > div p span {
  color: #000;
  font-weight: 600;
}
main .servicepage-container .service-h-container > div p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 18px;
  height: 100%;
  background: no-repeat;
  background-image: url("../img/service_prevent_check.png");
}
main .servicepage-container .service-visual-container {
  max-width: 1520px;
  margin: 0 auto;
  height: 570px;
  border-top-right-radius: 120px;
  overflow: hidden;
}
main .servicepage-container .service-visual-container .service-visual-content {
  width: 100%;
  height: 100%;
  background-image: url("../img/service_prevent_top_img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
main .servicepage-container .service-explain-container {
  padding-top: 100px;
  font-size: 1.5625em;
  letter-spacing: -0.0352em;
  line-height: 1.68;
  text-align: center;
}
main .servicepage-container .service-explain-container p span {
  color: #4eabfb;
}
main .servicepage-container .service-explain-container div {
  display: inline-block;
  position: relative;
  padding: 60px 38px 0 38px;
  font-size: 30px;
  font-weight: bold;
}
main .servicepage-container .service-explain-container div:before {
  position: absolute;
  content: "[";
  left: 0;
}
main .servicepage-container .service-explain-container div:after {
  position: absolute;
  content: "]";
  right: 0;
}
main .servicepage-container .service-explain-container div p {
  display: inline-block;
  font-weight: normal;
}
main .servicepage-container .service-service-container {
  padding: 100px 0 100px;
  margin: 0 auto;
}
main .servicepage-container .service-service-container > div {
  max-width: 1320px;
  margin: 0 auto;
}
main .servicepage-container .service-service-container > div ul {
  display: flex;
  margin: 0 -1.91%;
}
main .servicepage-container .service-service-container > div ul li {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 0 30px;
  width: 30%;
  background-color: #fff;
  border-radius: 50px;
  border-bottom-right-radius: 0;
}
main .servicepage-container .service-service-container > div ul li > div {
  padding: 70px 30px;
}
main .servicepage-container .service-service-container > div ul li span {
  display: block;
  font-size: 1.5em;
  letter-spacing: -0.00965em;
  line-height: 1.5;
  font-weight: 600;
  color: #333;
  margin-top: 1.5em;
}
main .servicepage-container .service-service-container > div ul li p {
  font-size: 1.125em;
  letter-spacing: -0.035em;
  line-height: 1.66;
  color: #444;
  margin-top: 1.5em;
}
main .servicepage-container .service-service-container > div ul li .service-service-first {
  background-image: url("../img/service_prevent_icon_01.png");
  display: block;
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
main .servicepage-container .service-service-container > div ul li .service-service-second {
  background-image: url("../img/service_prevent_icon_02.png");
  display: block;
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
main .servicepage-container .service-service-container > div ul li .service-service-third {
  background-image: url("../img/service_prevent_icon_03.png");
  display: block;
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
main .servicepage-container:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 696px);
  background-color: #f8f8f8;
  z-index: -1;
}
main .servicepage-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 255px;
  padding: 0 54px;
  color: #fff;
  background-color: #272727;
  height: 65px;
  border-radius: 50px;
  border-top-right-radius: 0;
  font-size: 1.0625em;
  margin: 0 auto;
  transition: 0.4s;
  border: 1px solid #000;
}
main .servicepage-container button:hover {
  color: #272727;
  background-color: #fff;
}

@media (min-width: 800px) and (max-width: 1260px) {
  body {
    margin: 0;
    padding: 0;
  }
  main .intro-container {
    width: 100%;
    padding: 160px 5% 0;
  }
  main .intro-container .intro-content {
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 83px;
  }
  main .intro-container .intro-content .abox div {
    display: inline-block;
  }
  main .intro-container .intro-content .abox .first {
    font-size: 14px;
  }
  main .intro-container .intro-content .abox .first:before {
    font-family: "xeicon";
    content: "\e900";
  }
  main .intro-container .intro-content .abox .first:after {
    font-family: "xeicon";
    display: inline-block;
    content: "\e93f";
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin: 0px 7px 0 5px;
    color: #222;
    font-size: 18px;
  }
  main .intro-container .intro-content .abox .second {
    font-size: 14px;
  }
  main .intro-container .intro-content .abox .second:after {
    font-family: "xeicon";
    display: inline-block;
    content: "\e93f";
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin: 0px 7px 0 5px;
    color: #222;
    font-size: 18px;
  }
  main .intro-container .intro-content h3 {
    padding-top: 57px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: -0.02rem;
    color: #222;
  }
  main .intro-container .intro-content h3 p span {
    font-weight: 100;
  }
  main .intro-container .intro-content h3 p span em {
    font-weight: 700;
    font-style: normal;
  }
  main .intro-menu-container {
    width: 100%;
    padding: 0 5%;
    border-bottom: 1px solid #e5e5e5;
  }
  main .intro-menu-container .intro-menu-content {
    max-width: 1320px;
    margin: 0 auto;
  }
  main .intro-menu-container .intro-menu-content ul {
    width: 100%;
  }
  main .intro-menu-container .intro-menu-content ul li {
    display: inline-block;
    color: #ccc;
    padding-right: 70px;
    font-size: 20px;
    font-weight: 700;
  }
  main .intro-menu-container .intro-menu-content ul li a {
    display: block;
    height: 100%;
    padding: 13px 0 15px;
    color: #ccc;
    position: relative;
  }
  main .intro-menu-container .intro-menu-content ul li a::after {
    transition: 0.5s;
    content: "";
    width: 0%;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid #faa61a;
    position: absolute;
    z-index: 99;
  }
  main .intro-menu-container .intro-menu-content ul li a:hover {
    color: #faa61a;
  }
  main .intro-menu-container .intro-menu-content ul li a:hover::after {
    width: 100%;
  }
  main .servicepage-container {
    width: 100%;
    padding: 80px 5% 160px;
    position: relative;
  }
  main .servicepage-container .service-h-container {
    text-align: center;
    padding-bottom: 80px;
  }
  main .servicepage-container .service-h-container h4 {
    font-size: 3.125rem;
    letter-spacing: -0.05rem;
    line-height: 1.3;
  }
  main .servicepage-container .service-h-container > p {
    font-size: 1.875rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
    padding-top: 27px;
  }
  main .servicepage-container .service-h-container > p span {
    position: relative;
    font-weight: 600;
    padding: 0 4px;
  }
  main .servicepage-container .service-h-container > p span:before {
    background-color: #4eabfb;
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 0.933em;
    opacity: 0.15;
    z-index: -1;
  }
  main .servicepage-container .service-h-container > div {
    display: inline-block;
    padding-top: 48px;
    text-align: left;
  }
  main .servicepage-container .service-h-container > div p {
    position: relative;
    padding-left: 34px;
    font-size: 1.156em;
    letter-spacing: -0.03513em;
    line-height: 1.3;
    text-align: left;
    color: #555;
    font-weight: 300;
  }
  main .servicepage-container .service-h-container > div p span {
    color: #000;
    font-weight: 600;
  }
  main .servicepage-container .service-h-container > div p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 100%;
    background: no-repeat;
    background-image: url("../img/service_prevent_check.png");
  }
  main .servicepage-container .service-visual-container {
    max-width: 1520px;
    margin: 0 auto;
    height: 400px;
    border-top-right-radius: 120px;
    overflow: hidden;
  }
  main .servicepage-container .service-visual-container .service-visual-content {
    width: 100%;
    height: 100%;
    background-image: url("../img/service_prevent_top_img.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  main .servicepage-container .service-explain-container {
    padding-top: 100px;
    font-size: 1.5625em;
    letter-spacing: -0.0352em;
    line-height: 1.68;
    text-align: center;
  }
  main .servicepage-container .service-explain-container p span {
    color: #4eabfb;
  }
  main .servicepage-container .service-explain-container div {
    display: inline-block;
    position: relative;
    padding: 60px 38px 0 38px;
    font-size: 30px;
    font-weight: bold;
  }
  main .servicepage-container .service-explain-container div:before {
    position: absolute;
    content: "[";
    left: 0;
  }
  main .servicepage-container .service-explain-container div:after {
    position: absolute;
    content: "]";
    right: 0;
  }
  main .servicepage-container .service-explain-container div p {
    display: inline-block;
    font-weight: normal;
  }
  main .servicepage-container .service-service-container {
    padding: 100px 0 100px;
    margin: 0 auto;
  }
  main .servicepage-container .service-service-container > div {
    max-width: 1320px;
    margin: 0 auto;
  }
  main .servicepage-container .service-service-container > div ul {
    display: flex;
    margin: 0 -1.91%;
  }
  main .servicepage-container .service-service-container > div ul li {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 30px;
    width: 30%;
    background-color: #fff;
    border-radius: 50px;
    border-bottom-right-radius: 0;
  }
  main .servicepage-container .service-service-container > div ul li > div {
    padding: 70px 30px;
  }
  main .servicepage-container .service-service-container > div ul li span {
    display: block;
    font-size: 1.5em;
    letter-spacing: -0.00965em;
    line-height: 1.5;
    font-weight: 600;
    color: #333;
    margin-top: 1.5em;
  }
  main .servicepage-container .service-service-container > div ul li p {
    font-size: 1.125em;
    letter-spacing: -0.035em;
    line-height: 1.66;
    color: #444;
    margin-top: 1.5em;
  }
  main .servicepage-container .service-service-container > div ul li .service-service-first {
    background-image: url("../img/service_prevent_icon_01.png");
    display: block;
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .servicepage-container .service-service-container > div ul li .service-service-second {
    background-image: url("../img/service_prevent_icon_02.png");
    display: block;
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .servicepage-container .service-service-container > div ul li .service-service-third {
    background-image: url("../img/service_prevent_icon_03.png");
    display: block;
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .servicepage-container:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 696px);
    background-color: #f8f8f8;
    z-index: -1;
  }
  main .servicepage-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 255px;
    padding: 0 54px;
    color: #fff;
    background-color: #272727;
    height: 65px;
    border-radius: 50px;
    border-top-right-radius: 0;
    font-size: 1.0625em;
    margin: 0 auto;
    transition: 0.4s;
    border: 1px solid #000;
  }
  main .servicepage-container button:hover {
    color: #272727;
    background-color: #fff;
  }
}
@media (min-width: 400px) and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }
  main .intro-container {
    width: 100%;
    padding: 100px 5% 0;
  }
  main .intro-container .intro-content {
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 43px;
  }
  main .intro-container .intro-content .abox div {
    display: inline-block;
  }
  main .intro-container .intro-content .abox .first {
    font-size: 14px;
  }
  main .intro-container .intro-content .abox .first:before {
    font-family: "xeicon";
    content: "\e900";
  }
  main .intro-container .intro-content .abox .first:after {
    font-family: "xeicon";
    display: inline-block;
    content: "\e93f";
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin: 0px 7px 0 5px;
    color: #222;
    font-size: 18px;
  }
  main .intro-container .intro-content .abox .second {
    font-size: 11px;
  }
  main .intro-container .intro-content .abox .second:after {
    font-family: "xeicon";
    display: inline-block;
    content: "\e93f";
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin: 0px 7px 0 5px;
    color: #222;
    font-size: 18px;
  }
  main .intro-container .intro-content .abox .third {
    font-size: 11px;
  }
  main .intro-container .intro-content h3 {
    padding-top: 60px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: -0.02rem;
    color: #222;
  }
  main .intro-container .intro-content h3 p span {
    font-weight: 100;
  }
  main .intro-container .intro-content h3 p span em {
    font-weight: 700;
    font-style: normal;
  }
  main .intro-menu-container {
    width: 100%;
    padding: 0 5%;
    border-bottom: 1px solid #e5e5e5;
  }
  main .intro-menu-container .intro-menu-content {
    max-width: 1320px;
    margin: 0 auto;
  }
  main .intro-menu-container .intro-menu-content ul {
    width: 100%;
  }
  main .intro-menu-container .intro-menu-content ul li {
    display: inline-block;
    color: #ccc;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 700;
  }
  main .intro-menu-container .intro-menu-content ul li a {
    display: block;
    height: 100%;
    padding: 13px 0 15px;
    color: #ccc;
    position: relative;
  }
  main .intro-menu-container .intro-menu-content ul li a::after {
    transition: 0.5s;
    content: "";
    width: 0%;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid #faa61a;
    position: absolute;
    z-index: 99;
  }
  main .intro-menu-container .intro-menu-content ul li a:hover {
    color: #faa61a;
  }
  main .intro-menu-container .intro-menu-content ul li a:hover::after {
    width: 100%;
  }
  main .servicepage-container {
    width: 100%;
    padding: 60px 5% 60px;
    position: relative;
  }
  main .servicepage-container .service-h-container {
    text-align: center;
    padding-bottom: 40px;
  }
  main .servicepage-container .service-h-container h4 {
    font-size: 2.525rem;
    letter-spacing: -0.05rem;
    line-height: 1.3;
  }
  main .servicepage-container .service-h-container > p {
    font-size: 1.475rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
    padding-top: 22px;
  }
  main .servicepage-container .service-h-container > p span {
    position: relative;
    font-weight: 600;
    padding: 0 4px;
  }
  main .servicepage-container .service-h-container > p span:before {
    background-color: #4eabfb;
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 0.933em;
    opacity: 0.15;
    z-index: -1;
  }
  main .servicepage-container .service-h-container > div {
    display: inline-block;
    padding-top: 28px;
    text-align: left;
  }
  main .servicepage-container .service-h-container > div p {
    position: relative;
    padding-left: 34px;
    padding-bottom: 10px;
    font-size: 0.956em;
    letter-spacing: -0.03513em;
    line-height: 1.3;
    text-align: left;
    color: #555;
    font-weight: 300;
  }
  main .servicepage-container .service-h-container > div p span {
    color: #000;
    font-weight: 600;
  }
  main .servicepage-container .service-h-container > div p::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 18px;
    height: 100%;
    background: no-repeat;
    background-image: url("../img/service_prevent_check.png");
  }
  main .servicepage-container .service-visual-container {
    max-width: 1520px;
    margin: 0 auto;
    height: 285px;
    border-top-right-radius: 60px;
    overflow: hidden;
  }
  main .servicepage-container .service-visual-container .service-visual-content {
    width: 100%;
    height: 100%;
    background-image: url("../img/service_prevent_top_img.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
  main .servicepage-container .service-explain-container {
    padding-top: 60px;
    font-size: 1.2625em;
    letter-spacing: -0.0352em;
    line-height: 1.68;
    text-align: center;
  }
  main .servicepage-container .service-explain-container p span {
    color: #4eabfb;
  }
  main .servicepage-container .service-explain-container div {
    display: inline-block;
    position: relative;
    padding: 30px 38px 0 38px;
    font-size: 25px;
    font-weight: bold;
  }
  main .servicepage-container .service-explain-container div:before {
    position: absolute;
    content: "[";
    left: 0;
  }
  main .servicepage-container .service-explain-container div:after {
    position: absolute;
    content: "]";
    right: 0;
  }
  main .servicepage-container .service-explain-container div p {
    display: inline-block;
    font-weight: normal;
  }
  main .servicepage-container .service-service-container {
    padding: 30px 0 60px;
    margin: 0 auto;
  }
  main .servicepage-container .service-service-container > div {
    max-width: 1320px;
    margin: 0 auto;
  }
  main .servicepage-container .service-service-container > div ul {
    display: flex;
    margin: 0 -1.91%;
    flex-wrap: wrap;
  }
  main .servicepage-container .service-service-container > div ul li {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    margin-top: 20px;
    width: 46%;
    background-color: #fff;
    border-radius: 30px;
    border-bottom-right-radius: 0;
  }
  main .servicepage-container .service-service-container > div ul li > div {
    padding: 40px 30px;
  }
  main .servicepage-container .service-service-container > div ul li span {
    display: block;
    font-size: 1.2em;
    letter-spacing: -0.00965em;
    line-height: 1.5;
    font-weight: 600;
    color: #333;
    margin-top: 1.5em;
  }
  main .servicepage-container .service-service-container > div ul li p {
    font-size: 0.825em;
    letter-spacing: -0.035em;
    line-height: 1.66;
    color: #444;
    margin-top: 1.2em;
  }
  main .servicepage-container .service-service-container > div ul li .service-service-first {
    background-image: url("../img/service_prevent_icon_01.png");
    display: block;
    padding-top: 35px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .servicepage-container .service-service-container > div ul li .service-service-second {
    background-image: url("../img/service_prevent_icon_02.png");
    display: block;
    padding-top: 35px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .servicepage-container .service-service-container > div ul li .service-service-third {
    background-image: url("../img/service_prevent_icon_03.png");
    display: block;
    padding-top: 35px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  main .servicepage-container .service-service-container:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 446px);
    background-color: #f8f8f8;
    z-index: -1;
  }
  main .servicepage-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 175px;
    padding: 0 24px;
    color: #fff;
    background-color: #272727;
    height: 45px;
    border-radius: 50px;
    border-top-right-radius: 0;
    font-size: 0.8625em;
    margin: 0 auto;
    transition: 0.4s;
    border: 1px solid #000;
  }
  main .servicepage-container button:hover {
    color: #272727;
    background-color: #fff;
  }
}/*# sourceMappingURL=service.css.map */